h1,
p {
  text-align: center;
}

h1 {
  font-family: "Pacifico", cursive;
}

h3,
p {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}
