body {
  background: rgb(191, 224, 255);
}

h1,
p {
  text-align: center;
}

h1 {
  font-family: "Pacifico", cursive;
}

textarea,
input {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

h3,
p {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin: 1px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

form:invalid input[type="submit"] {
  background-color: red;
}

label {
  display: contents;
  font-family: "Pacifico", cursive;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding-left: 0%;
}

li {
  list-style: none;
}

.completed {
  text-decoration: line-through;
}

.todo-item {
  border: 2px black solid;
  width: 260px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

button {
  border-radius: 10px;
  font-family: "Pacifico", cursive;
  border: 2px solid rgb(73, 138, 198);
  background: rgb(217, 206, 165);
}

.todo-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.todo-description {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 40px;
}

.footer-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: end;
}
